.app {
  background-color: #212121;
  height: 100%;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; */
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.infoButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: .5em;
}

.button {
  padding: .5em;
  background-color: #ff7663;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.highlightText {
  color: #ff7663;
  font-weight: bold;
}

.clickableText {
  text-decoration: underline;
  cursor: pointer;
}

.content {
  flex-grow: 3;
  color: white;
  padding: 3em;
  display: flex;
  flex-direction: column;
}

.info {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.proposalsContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: .5em;
}

.img {
  flex-grow: 0;
  background-color: white;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  width: 80%;
}

.userPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.createProposalForm {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  align-items: flex-start;
}

.createProposalForm input {
  padding: .5em;
}

.createProposalForm .options {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  align-items: center;
}

.options .option {
  text-decoration: underline;
  cursor: pointer;
}

.styles.proposalsContainer {
  flex-grow: 1;
}

.proposalsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: .5em;
  column-gap: .5em;
  justify-content: flex-start;
  align-items: flex-start;
}

.proposal {
  background-color: white;
  color: #212121;
  border-radius: 4px;
  overflow: hidden;
  width: 32%;
  /* min-width: 2fr; */
}

.proposal > .header {
  background-color: rgb(204, 204, 204);
  padding: .5em;
  text-align: center;
}

.proposal > .header.passed {
  background-color: rgb(97, 185, 97);
  color: white;
}

.proposal > .header.declined {
  background-color: rgb(226, 50, 50);
  color: white;
}

.proposal > .header.active {
  background-color: #ff7663;
  color: white;
}

.proposal > .content{
  display: flex;
  flex-direction: column;
  row-gap: .5em;
  padding: 1em;
  color: #212121;
}

.proposal .votes {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  /* column-gap: 1em; */
}

.proposal .votes > * {
  font-weight: bold;
}

.proposal .votes .yays {
  color: green;
}

.proposal .votes .nays {
  color: red;
}

.proposal > .content > .section {
  
}

.proposalOptions {
  display: flex;
  flex-direction: row;
  column-gap: .5em;
  justify-content: center;
}

.yay {
  background-color: green;
}

.nay {
  background-color: rgb(184, 0, 0);
}